<p id="notice"><%= notice %></p>
 <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Ubuntu|ZCOOL+QingKe+HuangYou" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Ubuntu|ZCOOL+QingKe+HuangYou" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
tr{color:#3f6d42;}
td{color:#a9e8ad;}
body{background-color:#060f18;}
ul{padding:10px;text-decoration:none;list-style-type:none;position:relative;margin-top:10px;}
li{padding:10px;text-decoration:none;list-style-type:none;position:relative;margin-top:10px;display:inline;}
.title{color:;font-size:35px;font-weight:bold;font-family: 'ZCOOL QingKe HuangYou', cursive;position:relative;margin-top:50px;}
a{color:grey;font-size:15px;font-family: 'Josefin Sans', sans-serif;}
a:hover{color:#155555;background-color:transparent;border-radius: 5px;}
.search{border-radius:8px;background-color:transparent;}
input[type=text]:hover { width: 130px;-webkit-transition: width 0.4s ease-in-out;transition: width ease-in-out;}
input[type=text]:hover {width: 50%;transition:;}
input{color:white;border:1px solid #155555;}
input:hover{border-radius:8px;}
.titl{color:#4b7daf;font-size:28px;font-weight:bold;font-family: 'ZCOOL QingKe HuangYou', cursive;}
p{color:#218621;font-size:18;font-weight:bold;font-family: 'Ubuntu', sans-serif;}
.crud{color:blue;}
.newmv{align:center;}
.footer{text-align:center;color:#80964f;}
.icon{align:center;}
img:hover{transition:1s;transform:scale(1.2);}
img{width:150px;height:200px}
.grid-container {
  display: grid;
  grid-template-columns:200px 200px 200px 200px ;
  padding:0px;
  grid-gap:20px;
  position:relative;
  left:100px;
  top:60px;
}
.grid-item {
height:350px;
font-size: 20px;
position:relative;

}
.card-text{color:#4b7daf;}
</style>
</head> 
<header>
<center><p class="titl">Jorah Movies Store</p></center>
<nav>
  <div class="nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Contacts</a> </li>
    </ul>
    <div class="newmv">
    <%= link_to 'New Movie', new_movie_path %>
    </div>
    <form class="searchform" >
      <center><input class="search" type="text" name="search" placeholder="Search.."></center>
    </form>
  </div>
</nav>
</header>
<body>
<div class="grid-container">
<% @movies.each do |movie| %>
  <div class="grid-item">
  <img src="<%= movie.attachment %>"><br><br> 
  <p class="card-text">Title:<%= movie.title %><br>
   <p class="card-text">Category:<%= movie.category %>
   <p class="card-text">Release Year:<%= movie.year %><br>
   <p class="card-text">Price:<%= movie.price %><br><br>          
<%= link_to 'Edit', edit_movie_path(movie) %>
<%= link_to 'Show', movie %>
<%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
  <% end %>
</div><br><br><br><br><br>
<footer>
<p class="footer"> ©2019 Kubwayo Ezechias</p>
<p class="footer">Contact information: <a href="dirtyhuh@gmail.com">dirtyhuh@gmail.com </a>.</p>
<div class="media">
<center>
<li><i class="fa fa-facebook-square"></i></li>
<li><i class="fa fa-twitter-square"></i></li>
<li><i class="fa fa-instagram"></i></li>
<li><i class="fa fa-whatsapp"></i></li>
<li><i class="fa fa-snapchat-ghost"></i></li>
</ul></center>
</footer>
</body>
        

  