<style>
img{width:150px;height:200px;}
strong{color:#3f6d42;}
</style>
<p id="notice"><%= notice %></p>
<p>
  <img src="<%= @movie.attachment %>"/>
</p>
<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @movie.category %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Price:</strong>
  <%= @movie.price %>
</p>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
</body>

