<style>
img{width:350px;height:400px;}
strong{color:#3f6d42;}
.p{position:relative;float:left;padding:25px;margin-top:600;}
div{margin-top:25 0px;}
</style>
<p id="notice"><% notice %>
<p class="p">
  <img src="<%= @movie.attachment %>"/>
</p>
<p class="p1">
  <strong>Title:</strong>
  <%= @movie.title %><br>
</p><br>

<p class="p2">
  <strong>Category:</strong>
  <%= @movie.category %>
</p><br>

<p class="p3">
  <strong>Year:</strong>
  <%= @movie.year %>
</p class="p4"><br>

<p class="p5">
  <strong>Price:</strong>
  <%= @movie.price %>
</p><br>
<div>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
</div>
</body>

